{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center my-4">Login</h2>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success w-100">Login</button>
            </form>
            <div class="text-center mt-3">
                Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}